.content {
    width: 224px;

    .menu-item {
        margin-left: 0;
        width: 100%;
        justify-content: start;
        padding: 11px 16px;
    }
}

.menu-popper {
     padding-bottom: 8px;
}
